:host {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.sample-legend-item {
	display: flex;
	align-items: center;
	gap: 8px;

	span {
		width: 20px;
		height: 20px;
	}

	label {
		white-space: nowrap;
	}
}
