/* You can add global styles to this file, and also import other style files */
// Standard CSS normalize, comment out if not required or using a different module
@use '~igniteui-angular/theming' as *;

html, body {
  height: 100%;
}

.content p {
  margin: rem(15px);
}

$palette: $dark-material-palette;
$schema: $dark-material-schema;
$typeface: $material-typeface;
$type-scale: $material-type-scale;

$background-color: contrast-color($palette, 'grays', 900);
$foreground-color: color($palette, 'grays', 900);

@include core();
@include typography($font-family: $typeface, $type-scale: $type-scale);
@include theme($palette: $palette, $schema: $schema);

body {
    background: $background-color;
    color: $foreground-color;
}

$data-chart-theme: data-chart-theme($title-horizontal-alignment: left);
@include css-vars($data-chart-theme);
